# vscode


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Terraform
.terraform/*
.terraform*
terraform.*

# Environment
.venv/
